<div class="${data.className}" w-bind>

    <button type="button" w-onClick="handleClick">
        Change state
    </button>

    <app-rerender1 w-id="test-rerender1"/>
    <app-rerender2 w-id="test-rerender2"/>
    
    <app-rerender3 w-id="test-rerender3" myProp="$data.myProp1">
        <ul><li><app-rerender3 myProp="$data.myProp2"/></li></ul>
    </app-rerender3>
</div>