<div class="${data.className}" w-bind>

    <button type="button" w-onClick="handleClick">
        Change state
    </button>

    <app-rerender1 w-id="test-rerender1"/>
    <app-rerender2 w-id="test-rerender2"/>

</div>